body {
    padding: 0%;
    margin: 0px; 
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #333333;
}

#title-bar{
    background-color:#333333;
    height:32px;

}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
}

#maximize-button{
    -webkit-app-region: no-drag;
    top:-2px;
    position:fixed;
    right:41.5px;
    height:34px;
}

#min-btn{
    position:fixed;
    -webkit-app-region: no-drag;
    top:0px;
    right:83.5px;
}


#close-button{
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
}



#min-btn, #close-btn,#maximize-button{
    border: none;
    color: white;
    outline: none;
    font-size: 21.6px;
    display: inline-block;
    padding: 3px 14px;
    background-color: transparent;
    font-weight: lighter;
    -webkit-user-select: none;
}




#title-bar-btns :hover{
    background-color: #4a4949;
}


#close-button :hover{
    background-color: crimson;
}


#e{
    position:fixed;
    left: 13px;
    font-size:22px;
    color:#CC2936;
    font-family: 'Oswald', sans-serif;

}

#chat{
    position:fixed;
    left:23px;
    color:#EDBBB4;
    font-size:22px;
    font-family: 'Oswald', sans-serif;
}


/*-------------------title bar--------------*/



.friends{
    position:fixed;
    left:0px;
    background-color:white;
    width:115px;
    height:100%;
    background-color:#333333;
}


.user-communication{
    position:fixed;
    left:115px;
    right: 154px;
    background-color:#414141;
    max-width:86%;
    height:100%;
    border-top-left-radius:30px;
}

#friend-bar{
    position:relative;
    left:0px;
    width:100%;
    top:8px;
    height:55px;
    border-bottom:1px solid black;
}

#friend-nickname{
    position:fixed;
    font-size:20px;
    left: 149px; 
    top:50px;
    font-family: 'Oswald', sans-serif;
    color:white;
}

#call-image img {
    -webkit-app-region: no-drag;
    position:fixed;
    right:300px;
    top:50px;
    width:28px;
    height:28px;
}

#video-call-image img{
    -webkit-app-region: no-drag;
    position:fixed;
    right:240px;
    top:50px;
    width:30px;
    height:30px;
}

#friend-settings img{
    -webkit-app-region: no-drag;
    position:fixed;
    right:180px;
    top:50px;
    width:28px;
    height:28px;
}

img:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.user-activity {
    position:fixed;
    bottom:0px;
    height:80px;
    width:200px;
    left:115px;
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 18px;
    background-color: #292929;
}

#username{
    text-align:center;
}

#mute img{
    position:fixed;
    bottom:15px;
    left:175px;
    width:28px;
    height:28px;
}

#mute-sound img{
    position:fixed;
    bottom:15px;
    left:225px;
    width:28px;
    height:28px;
}

.message-chat{
    position:relative;
    background-color:white;
    top:8px;
    left:200px;
    width:calc(100% - 200px);
    height:100%;
    background-color: #505050;
}

#user-write{
    position:fixed;
    resize: none;
    bottom:35px;
    left:400px;
    width:calc(82% - 400px);
    outline:none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    background-color: #3a3a3a;
    border:none;
    color:white;
   font-weight:lighter;
}

#add-photo-container{
    position:fixed;
    left:354.5px;
    bottom:35px;
    background-color:#3a3a3a;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width:45px;
    height:30px;
}

#send-photo img{
    position:fixed;
    left:370px;
    bottom:40px;
    width:20px;
    height:20px;
}

/*---------------friend bar------------*/

#add-friend-img-container{
    -webkit-app-region: no-drag;
    position:fixed;
    left:25px;
    top:60px;
    width:55px;
    height:55px;
    border:1.5px solid white;
    border-radius:50%;
    
}


#add-friend-img-container img{
    position: relative;
    left:10px;
    top:5px;
    width:40px;
    height:40px;
}

.search-user{
    position:fixed;
    left:40%;
    top:45px;
    animation:goDown 0.8s;
    display:none;
}

#search{
    resize:none;
    height:28px;
    width:400px;
    outline:none;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    background-color: #292929;
    border:none;
    color:white;
    font-weight:lighter;
}


@keyframes goDown{
    0% {top: 0px; opacity: 1;}
    100%{top:45px; opacity: 1;}
}

@keyframes goUp {
    0% {top: 45px; opacity: 1;}
    100%{top:0px; opacity: 0;}
}


/*----------------Group bar--------------*/

.groups{
    position: fixed;
    right:0px;
    background-color:#333333;
    width:153.5px;
    height:100%;
}


#create-group-img-container img{
    position: relative;
    top: 100px;
    right:-50px;
    width:70px;
    height:70px;
}



/*----------------account settings----------------*/

.acc-settings{
    position: fixed;
    right:0px;
    background-color:#414141;
    width: 153.5px;
    height:64px;
}


#notification{
    position: relative;
    top:13px;
    left:15px;
}


#notification img{
    width:50px;
    height:40px;
}


#settings{
    position: fixed;
    top:45px;
    right: 25px;
}


#settings img{
    width:35px;
    height:45px;
}


#settings :hover{
    animation:goRound 0.5s;
}


@keyframes goRound{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}

/*--------------settings---------------------*/


.settings{
    -webkit-user-select: none;
    position: fixed;
    width:100%;
    height:100%;
    display:none;
    background:rgba(16,16,16,0.97);
}


#general {
    position:relative;
    top:200px;
    left:30px;
    padding:3px 19px;
    width:150px;
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    color:white;
}


#hotkeys {
    -webkit-user-select: none;
    position:relative;
    top:260px;
    left:30px;
    padding:3px 19px;
    width:150px;
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    color:white;
}


#general:hover {
    cursor: pointer;
    animation:onSettingsHover 0.3s;
    background-color:white;
    color:#CC2936;
    left:60px;
}


#hotkeys:hover{
    cursor:pointer;
    animation:onSettingsHover 0.3s;
    background-color:white;
    color:#CC2936;
    left:60px;
}


@keyframes onSettingsHover {
    0% {left: 30px; opacity: 1;}
    100%{left:60px; opacity: 1;}
}


#close-settings{
    position:fixed;
    top:90px;
    right:40px;
    font-size:36px;
    color:darkgray;
    border:2px solid darkgray;
    font-family: 'Oswald', sans-serif;
    padding:2px 23px;
    border-radius:80%;
}


#close-settings:hover{
    cursor:pointer;
    border-color:white;
    background-color:white;
    color:#CC2936;
}


/*----------------notifications--------------*/


.notification{
    position:fixed;
    width: 315px;
    height:100%;
    background-color:#212529;
    left:0px;
    display:none;
    animation:notifications-animation 0.6s ;
}


#notification-title{
    position:relative;
    top:0px;
    left:0px;
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    color:white;
    background-color:#171515;
    width:169px;
    padding:40px 73px;
}


@keyframes notifications-animation{
    0% {left: -200px;}
    100%{left:0px;}
}
